# PostgreSQL format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=""

# NextAuth Configuration
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
